services:
  android:
    image: storytellerf/android-in-docker:snapshot
    ports:
      - "6080:6080" # noVNC web interface
      - "5901:5901" # VNC direct connection
      - "5555:5555" # ADB
      - "4723:4723" # Appium
      - "2222:22" # SSH
    env_file:
      - .env
    volumes:
      - avd_data:${CONTAINER_HOME:-/home/debian}/.android/avd
      - ./logs:${CONTAINER_HOME:-/home/debian}/log/supervisor
      - sdk_data:${CONTAINER_HOME:-/home/debian}/Android/Sdk
    shm_size: '2gb' # Allocate more shared memory
    #privileged: true # Enable KVM acceleration
    devices:
      - /dev/kvm
    restart: "unless-stopped"

volumes:
  avd_data:
  sdk_data:
    external: true
